# Ignora la carpeta node_modules
node_modules

# Ignora todos los archivos de texto
*.txt

# Ignora los archivos relacionados a API keys
.env
auth-service/.env
config-service/.env
market-service/.env
mongo-service/.env
sockets-service/.env
sql-service/.env

# Ignora archivos de logs
*.log

# Ignora la carpeta de construcción/distribución
/build
/dist
/stats-service/images

# Ignora archivos específicos de macOS
.DS_Store

# Ignora archivos de configuración de editores
.vscode/
.idea/
